.hero-section {
    .custom-dropdown {
        background-color: rgb(255, 255, 255) !important;
        border: none !important;
        color: white !important;
    }

    .search-button {
        background-color: #007bff !important;
        color: white !important;
    }
}