.payment-success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Chiều cao toàn màn hình */
    background-color: white;
    /* Màu nền nhạt */
}
