.resevation-container {

    .button-continue {
        border-radius: 20px !important;
    }

    .card {
        border: solid 1px rgb(208, 201, 201);

        .card-body {
            padding: 18px !important
        }
    }

    

}
