.trip-summary {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .trip-details {
        display: flex;
        align-items: center;

        .check-in,
        .check-out {

            h5 {
                width: fit-content !important ;
                height: 100px !important;
            }
        }

        .arrow {
            margin: 0 5px;
        }
    }

    .nights {
        text-align: center;
        margin-right: 10px;

        h6 {
            margin-right: 10px;
        }
    }

    .text-muted {
        font: 13px "Lora", serif;
    }
}