server:
  port : 8080
  servlet:
    context-path: /


file:
  base-dir: uploads
  image-dir: images
  document-dir: documents
  video-dir: videos
  other-dir : other



spring:
  datasource:
    url: jdbc:mysql://localhost:3300/hotel_management
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  jwt:
    signerKey: BvniRriiBDSsZEp8ZpkLqOnOuCfRhi+l8JVPmMzFim31u8SR2aYV1Nk0yvYSlIiy


  logging:
    level:
      org.springframework.security: DEBUG