.col-lg-6.d-flex.align-items-center.gradient-custom-2 {
    background: url('../../../assets/img/login/bg.png') no-repeat center center;
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.info-component .text-black {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.397);
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
}