.hp-room-section {
    h3, h2 {
      width: fit-content;
      padding: 5px;
    }
  
    h3 {
      background-color: white;
      color: rgba(2, 32, 87, 0.932) !important;
    }
  
    h2 {
      background-color: white;
    }
  }
  